.btn {
    user-select: var(--btn-user-select);
    
    text-decoration: var(--btn-text-decoration);
    text-align: var(--btn-text-align);
    vertical-align: var(--btn-vertical-align);
    margin: var(--btn-margin);
    padding: var(--btn-padding);
    font-size: var(--btn-font-size);

    color: var(--btn-color);
    border: var(--btn-border);
    border-radius: var(--btn-border-radius);
    background: var(--btn-background);

    box-shadow: var(--btn-box-shadow);
    -moz-box-shadow: var(--btn-box-shadow);
    -webkit-box-shadow: var(--btn-box-shadow);

    display: var(--btn-display);
    cursor: var(--btn-cursor);
    min-width: var(--btn-min-width);
    min-height: var(--btn-min-height);
    font-weight: var(--btn-font-weight);
}

.btn.default {
    min-width: 0px;
    min-height: 0px;
    padding: 7px;
    margin: 5px;
    font-size: 12px;
    box-shadow: none;
}

.btn.add,
.btn.new {
    color: var(--btn-add-color);
    background-color: var(--btn-add-background-color);
}

.btn.update,
.btn.edit {
    color: var(--btn-update-color);
    background-color: var(--btn-update-background-color);
}

.btn.save {
    color: var(--btn-save-color);
    background-color: var(--btn-save-background-color);
}

.btn.delete,
.btn.remove {
    color: var(--btn-delete-color);
    background-color: var(--btn-delete-background-color);
}

.btn.view,
.btn.details {
    color: var(--btn-view-color);
    background-color: var(--btn-view-background-color);
}

.btn.exit,
.btn.close {
    color: var(--btn-exit-color);
    background-color: var(--btn-exit-background-color);
}

.btn.search {
    color: var(--btn-search-color);
    background-color: var(--btn-search-background-color);
}

.btn.print {
    color: var(--btn-print-color);
    background-color: var(--btn-print-background-color);
}

.btn.export {
    color: var(--btn-export-color);
    background-color: var(--btn-export-background-color);
}

.btn.sgin {
    color: var(--btn-sgin-color);
    background-color: var(--btn-sgin-background-color);
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn:hover {
    transform: scale(1.1);
}
