/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 70px !important;
  background-color: #ffffff;
  width: 100%;
  z-index: 999;
  max-height: 75vh;
  min-height: 20%;
  padding: 0px;
  margin: 0;
  scroll-behavior: auto;
  overflow: auto;
  border: 3px solid var(--theme-color);
  border-radius: 10px;
  box-shadow: 1px 1px 8px 2px #000;
}

.dropdown .dropdown-search {
  padding: 5px;
  position: sticky;
  top: 0;
  background: var(--theme-color);
}
.dropdown .dropdown-search i-control2 {
  display: inline-block;
  width: 85%;
}
.dropdown .dropdown-search i-button button {
  margin-top: 10px !important;
}
.dropdown .dropdown-search .btns {
  width: 50px !important;
  display: contents !important;
}
/* Links inside the dropdown */
.dropdown-content p {
  color: var(--color);
  background-color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content .dropdown-item:hover {
  background-color: #7c7c7c;
  --color: #ffffff;
}

/* Show the dropdown menu on hover
.dropdown:not([disabled]):hover .dropdown-content,
.dropdown-content:hover {
  display: block;
} */

i-list .dropdown-item {
  display: inline-block !important;
  cursor: pointer;
  background: var(--dropdown-background);
  padding: 0px !important;
  margin: 0px !important;
  transition: all 0.1s ease;
  border-bottom: 1px solid #ddd !important;
}
.dropdown-item p {
  color: var(--color);
  font-size: 16px;
  background: transparent;
  text-align: center;
  padding: 0;
}
.ar .dropdown-item p,
.rtl .dropdown-item p,
.AR .dropdown-item p {
  text-align: right;
}
.dropdown-item .small {
  color: #000000;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  padding: 0;
}
.ar .dropdown-item .small,
.AR .dropdown-item small {
  text-align: right;
}
