/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    max-height: 50vh;
    padding: 0px;
    scroll-behavior: auto;
    overflow: auto;
    border: 1px solid var(--theme-color);
}

.dropdown .dropdown-search{
    padding: 5%;
    position: sticky;
    top: 0;
    background: #ffffff;
}
/* Links inside the dropdown */
.dropdown-content p {
    color: black;
    background-color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content .dropdown-item:hover {
    background-color: var(--theme-color);
    color: #fff;
}
.dropdown-content .dropdown-item:hover p,
.dropdown-content .dropdown-item:hover small {
    color: #fff;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-text:hover > .dropdown-content {
    display: block;
}

.dropdown-item {
    display: inline-block;
    cursor: pointer;
    background: var(--dropdown-background);
    padding: 0px;
    margin: 0px;
    transition: all .1s ease;
}
.dropdown-item p {
    color: #055160;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    text-align: left;
}
.ar .dropdown-item p , .AR .dropdown-item p{
    text-align: right;
}
.dropdown-item small {
    color: antiquewhite;
    font-size: 9px;
    text-align: left;
    padding: 3px;
    background: #198754;
    font-weight: bold;
    padding-right: 9px;
    padding-left: 9px;
}
.ar .dropdown-item small , .AR .dropdown-item small{
    text-align: right;
}
