@media all {
  .loaded,
  .hide {
    visibility: collapse;
  }

  .flex,
  .display-flex {
    display: flex !important;
  }
  .inline-flex,
  .display-inline-flex {
    display: inline-flex !important;
  }

  .flexbox,
  .display-flexbox {
    display: flexbox !important;
  }
  .flexbox,
  .display-flexbox {
    display: inline-flexbox !important;
  }
  .block,
  .display-block {
    display: block !important;
  }

  .none,
  .display-none {
    display: none !important;
  }

  .inline,
  .display-inline {
    display: inline !important;
  }
  .inline-block,
  .display-inline-block {
    display: inline-block !important;
  }

  .inline-grid,
  .display-inline-grid {
    display: inline-grid !important;
  }

  .fixed,
  .position-fixed {
    position: fixed !important;
  }
  .relative,
  .position-relative {
    position: relative !important;
  }
  .static,
  .position-static {
    position: static !important;
  }
  .sticky,
  .position-sticky {
    position: sticky !important;
  }

  .left,
  .float-left {
    float: left !important;
  }

  .right,
  .float-right {
    float: right !important;
  }
  .float-none {
    float: none !important;
  }

  .is-invalid {
    border: 1px solid red !important;
  }
  .is-valid {
    border: 1px solid green !important;
  }
  .text-center {
    text-align: center !important;
  }

  .text-left {
    text-align: left !important;
  }

  .text-right {
    text-align: right !important;
  }

  .pointer {
    cursor: pointer !important;
  }

  .bold {
    font-weight: bold;
  }

  .italic {
    font-style: italic;
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .center {
    margin: 0 auto ;
    text-align: center ;
  }
  .center,
  .center p,
  .center span,
  .center label,
  .center b,
  .center i,
  .center img {
    text-align: center !important;
  }

  .center i.center {
    vertical-align: text-bottom;
  }

  .border {
    border: 1px solid var(--theme-color) !important;
  }

  .dashed {
    border: 2px dashed var(--theme-color) !important;
  }

  .no-border {
    border: none !important;
  }

  .no-border-left {
    border-left: none !important;
  }

  .no-border-right {
    border-right: none !important;
  }

  .no-border-top {
    border-top: none !important;
  }
  .no-border-bottom {
    border-bottom: none !important;
  }

  .no-border-radius {
    border-radius: 0px !important;
  }

  .border-radius {
    border-radius: 5px !important;
  }
  .margin {
    margin: 5px !important;
  }

  .padding {
    padding: 5px !important;
  }

  .text-shadow {
    text-shadow: 1px 1px 1px #000 !important;
  }

  .box-shadow {
    box-shadow: 1px 1px 8px 2px #000 !important;
  }

  .font-small {
    font-size: small !important;
  }

  .font-smaller {
    font-size: smaller !important;
  }

  .font-x-small {
    font-size: x-small !important;
  }

  .font-xx-small {
    font-size: xx-small !important;
  }

  .font-medium {
    font-size: medium !important;
  }

  .font-large {
    font-size: large !important;
  }

  .font-larger {
    font-size: larger !important;
  }

  .font-x-large {
    font-size: x-large !important;
  }
  .font-xx-large {
    font-size: xx-large !important;
  }

  .rtl,
  .rtl input {
    direction: rtl;
  }

  .ltr,
  .ltr input {
    direction: ltr;
  }

  .height-auto {
    height: auto !important;
  }
  .width-auto {
    height: auto !important;
  }
  .error {
    text-align: center;
    color: red;
  }

  .appearance-none {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  .paper {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee, 0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee, 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  }

  .full-width {
    width: 100%;
    margin: 0px;
  }

  .hover-scale:hover {
    transform: scale(1.1);
  }

  .multi-lines {
    white-space: pre-wrap;
  }

  .currency {
    font-size: smaller;
    font-weight: bold;
    color: black;
    text-shadow: 0 0 white;
    text-transform: uppercase;
  }

  .ww {
    width: 250px !important;
    white-space: pre-line !important;
  }
  .w0 {
    width: 1px !important;
    white-space: nowrap !important;
  }

  .w50,
  .w50 input {
    min-width: 50px !important;
    width: 50px !important;
    white-space: pre-line !important;
  }

  .w100,
  .w100 input {
    width: 100px !important;
    min-width: 100px !important;
    white-space: pre-line !important;
  }

  .w125,
  .w125 input {
    width: 125px !important;
    min-width: 125px !important;
    white-space: pre-line !important;
  }

  .w150,
  .w150 input {
    width: 150px !important;
    min-width: 150px !important;
    white-space: pre-line !important;
  }

  .w175,
  .w175 input {
    width: 175px !important;
    min-width: 175px !important;
    white-space: pre-line !important;
  }

  .w200,
  .w200 input {
    width: 200px !important;
    min-width: 200px !important;
    white-space: pre-line !important;
  }

  .w225,
  .w225 input {
    width: 225px !important;
    min-width: 225px !important;
    white-space: pre-line !important;
  }

  .w250,
  .w250 input {
    width: 250px !important;
    min-width: 250px !important;
    white-space: pre-line !important;
  }

  .w275,
  .w275 input {
    width: 275px !important;
    min-width: 275px !important;
    white-space: pre-line !important;
  }

  .w300,
  .w300 input {
    width: 300px !important;
    min-width: 300px !important;
    white-space: pre-line !important;
  }

  .w350,
  .w350 input {
    width: 350px !important;
    min-width: 350px !important;
    white-space: pre-line !important;
  }

  .w400,
  .w400 input {
    width: 400px !important;
    min-width: 400px !important;
    white-space: pre-line !important;
  }

  .w450,
  .w450 input {
    width: 450px !important;
    min-width: 450px !important;
    white-space: pre-line !important;
  }
  .w500,
  .w500 input {
    width: 500px !important;
    min-width: 500px !important;
    white-space: pre-line !important;
  }
}
