@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: normal;
    src: url(/x-fonts/Cairo-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: bold;
    src: url(/x-fonts/Cairo-Bold.ttf);
    font-display: swap;
}