.font-8 {
  font-size: 8px !important;
}
.font-9 {
  font-size: 9px !important;
}
.font-10 {
  font-size: 10px !important;
}
.font-11 {
  font-size: 11px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-13 {
  font-size: 13px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-15 {
  font-size: 15px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-17 {
  font-size: 17px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-19 {
  font-size: 19px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-21 {
  font-size: 21px !important;
}
.font-22 {
  font-size: 22px !important;
}
.font-23 {
  font-size: 23px !important;
}
.font-24 {
  font-size: 24px !important;
}
.font-25 {
  font-size: 25px !important;
}
.font-26 {
  font-size: 26px !important;
}
.font-small {
  font-size: small !important;
}
.font-smaller {
  font-size: smaller !important;
}
.font-x-small {
  font-size: x-small !important;
}
.font-xx-small {
  font-size: xx-small !important;
}
.font-medium {
  font-size: medium !important;
}

.font-large {
  font-size: large !important;
}
.font-larger {
  font-size: larger !important;
}
.font-x-large {
  font-size: x-large !important;
}
.font-xx-large {
  font-size: xx-large !important;
}
