.image {
  width: 400px;
  height: 300px;
  border-radius: 10px;
}
.logo {
  width: 48px;
  height: 48px;
  border-radius: 5px;
}

i-image {
  width: auto !important;
  height: auto !important;
}
i-image img {
  width: 150px;
  height: 150px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  background-image: url('/images/no.jpg');
  background-size: contain;
}

i-image.full img {
  width: 100%;
  height: auto;
  border: var(--i-image-border);
  padding: 5px;
}

i-image.logo img {
  width: 48px;
  height: 48px;
}

i-image.photo img {
  width: 128px;
  height: 128px;
}

i-image.hover img:hover {
  transform: scale(1.1);
}

i-image[view] img {
  border: var(--i-image-view-border);
}
