.image {
  width: 400px;
  height: 300px;
  border-radius: 10px;
}
i-image.logo {
  width: 48px !important;
  height: 48px !important;
  border-radius: 5px;
}
 img.logo , .logo img {
  width: 44px !important;
  height: 44px !important;
}

i-image {
  display: block;
  width: 90% !important;
  height: 90% !important;
  border: var(--i-image-border);
}
i-image img {
  width: auto;
  min-height: 32px;
  object-fit: fill;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

i-image.full img {
  width: 100% !important;
  height: auto !important;
  padding: 5px;
}

i-image.img32 {
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  padding: 1px !important;
}
i-image.img32 img {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  min-height: 30px !important;
}

i-image.img48 {
  width: 48px !important;
  height: 48px !important;
  min-width: 48px !important;
  min-height: 48px !important;
  padding: 2px !important;
}
i-image.img48 img {
  width: 44px !important;
  height: 44px !important;
  min-width: 44px !important;
  min-height: 44px !important;
}

i-image.img64 {
  width: 64px !important;
  height: 64px !important;
  min-width: 64px !important;
  min-height: 64px !important;
  padding: 2px !important;
}
i-image.img64 img {
  width: 60px !important;
  height: 60px !important;
  min-width: 60px !important;
  min-height: 60px !important;
}

i-image.img128 {
  width: 128px !important;
  height: 128px !important;
  min-width: 128px !important;
  min-height: 128px !important;
  padding: 3px !important;
}
i-image.img128 img {
  width: 120px !important;
  height: 120px !important;
  min-width: 120px !important;
  min-height: 120px !important;
}

i-image.img256 {
  width: 256px !important;
  height: 256px !important;
  min-width: 256px !important;
  min-height: 256px !important;
  padding: 3px !important;
}
i-image.img256 img {
  width: 245px !important;
  height: 245px !important;
  min-width: 245px !important;
  min-height: 245px !important;
}

i-image.hover img:hover {
  transform: scale(1.1);
}

i-image[view] {
  border: var(--i-image-view-border);
}
i-image[view] img {
  background-image: none;
  background-color: transparent;
}
