.print-only {
  visibility: collapse;
}

html.a4,
body.a4 {
  width: 210mm;
  margin: 0cm;
  padding: 0cm;
  background: white;
  color: #000;
}
body.a4 {
  margin: 0.2cm;
  padding: 0px;
  height: 297mm;
}
body.print-mode .hide {
  visibility: visible;
}
body.print-mode .not-print,
body.print-mode .dont-print {
  display: none;
}
body.print-mode .print-only {
  visibility: visible;
}
body.print-mode .table {
  table-layout: fixed;
  max-width: 200mm !important;
  border-collapse: collapse;
  border: 1px solid black;
}
body.print-mode .table th {
  color: #000 !important;
  background: #bbb !important;
  border-collapse: collapse;
}
body.print-mode .table td {
  color: #000 !important;
  background: #fff !important;
  border-collapse: collapse;
}

@media print {
  :root {
    --legend-color: #000;
    --legend-text-shadow: none;
  }

  .print-only {
    visibility: visible;
  }

  .small {
    font-size: 6px;
  }
  .table {
    table-layout: fixed;
    max-width: 200mm !important;
    /* tables don't split across pages if possible. */
    page-break-inside: avoid;
  }
  .table th {
    color: #000 !important;
    background: #bbb !important;
  }

  .table td {
    color: #000 !important;
    background: #fff !important;
  }

  input {
    font-size: 8px;
  }

  textarea {
    font-size: 8px;
  }

  .not-print,
  .dont-print {
    display: none;
  }

  .page {
    /* this section always occupies it's own page or pages. */
    page-break-before: always;
    page-break-after: always;
  }

  .print-break {
    page-break-after: always;
  }

  .print-start {
    /* elements always start on the top of a new page. */
    page-break-before: always;
  }

  .print-content {
    page-break-inside: avoid;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    page-break-after: avoid;
  }

  @page: first {
    /* No margin on the first page. */
    margin: 0;
  }
  @page: blank {
    @top-center {
      content: "This page is intentionally left blank.";
    }
  }
  @page {
    size: A4;
    margin: 0;
  }

  @page: right {
    @top-right {
      content: "";
    }
  }

  @page: right {
    @bottom-right {
      content: "";
    }
  }

  @page: left {
    @top-left {
      content: "";
    }
  }

  @page: left{
    @bottom-left {
      content: "Page " counter(page) " of " counter(pages);
    }
  };

  a {
    font-weight: bolder;
    text-decoration: none;
  }

  a[href^="http"]:after {
    content: " [ " attr(href) " ] ";
  }

  a[href^="#"]:after {
    content: "";
  }
}
