.print-only {
  visibility: collapse;
}
@media print {
  :root {
    --legend-color: #000;
    --legend-text-shadow: none;
  }

  html,
  body {
    width: 210mm;
    height: 297mm;
    font-style: 12pt;
  }

  body {
    background: white;
    color: #000;
    margin-top: 1mm;
    margin-right: 1mm;
    margin-bottom: 2mm;
    margin-left: 1mm;
  }
  body[size="A4"] {
    width: 210mm;
    height: 297mm;
  }

  .print-only {
    visibility: visible;
  }

  .small {
    font-size: 6px;
  }
  .table {
    table-layout: fixed;
    max-width: 200mm !important;
  }
  .table th {
    color: #000 !important;
    background: #bbb !important;
  }

  .table td {
    color: #000 !important;
    background: #fff !important;
  }

  input {
    font-size: 8px;
  }

  textarea {
    font-size: 8px;
  }

  .not-print,
  .dont-print {
    display: none;
  }

  .print-break {
    page-break-after: always;
  }

  .print-start {
    page-break-before: always;
  }

  .print-content {
    page-break-inside: avoid;
  }

  @page {
    size: A4;
    margin: 0;
  }

  @page: right {
    @top-right {
      content: "";
    }
  }

  @page: right {
    @bottom-right {
      content: "";
    }
  }

  @page: left {
    @top-left {
      content: "";
    }
  }

  @page: left {
    @bottom-left {
      content: "";
    }
  }

  a {
    font-weight: bolder;
    text-decoration: none;
  }

  a[href^="http"]:after {
    content: " [ " attr(href) " ] ";
  }

  a[href^="#"]:after {
    content: "";
  }
}
