.print-only {
    visibility: collapse;
}

.page-a4 {
    display: inline-block;
    height: 297mm !important;
    width: 210mm !important;
    padding: 2mm !important;
    margin: 0mm !important;
    background: white !important;
    color: #000 !important;
    page-break-before: always !important;
    page-break-after: always !important;
    page-break-inside: avoid !important;
}
.width-15-mm {
    min-width: 15mm !important;
    width: 15mm !important;
    white-space: normal;
    max-width: 15mm !important;
}
.width-30-mm {
    min-width: 30mm !important;
    width: 30mm !important;
    white-space: normal;
    max-width: 30mm !important;
}
.width-60-mm {
    min-width: 60mm !important;
    width: 60mm !important;
    white-space: normal;
    max-width: 60mm !important;
}
.width-90-mm {
    min-width: 90mm !important;
    width: 90mm !important;
    white-space: normal;
    max-width: 90mm !important;
}

.page-width-a4 {
    padding: 2mm;
    margin: 0mm;
}

body.a4 {
    background: white;
    color: #000;
}
body.a4 {
    height: 297mm;
}
body.print-mode {
    padding: 0px !important;
    margin: 2mm !important;
}
body.print-mode .hide {
    visibility: visible;
}
body.print-mode .not-print,
body.print-mode .dont-print {
    display: none;
}
body.print-mode .print-only {
    visibility: visible;
}
body.print-mode .table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 8pt;
    page-break-inside: avoid;
}
body.print-mode .table.wide {
    min-width: 206mm !important;
    width: 206mm !important;
}
body.print-mode .table th {
    color: #000 !important;
    background: #fff !important;
    border-collapse: collapse;
}
body.print-mode .table td {
    color: #000 !important;
    background: #fff !important;
    border-collapse: collapse;
}
body.print-mode input,
body.print-mode textarea {
    font-size: 8pt;
}
body.print-mode .small {
    font-size: 6pt;
}

.page {
    page-break-before: always;
    page-break-after: always;
    page-break-inside: avoid !important;
}
@media print {
    :root {
        --legend-color: #000;
        --legend-text-shadow: none;
    }

    .page {
        /* this section always occupies it's own page or pages. */
        page-break-before: always;
        page-break-after: always;
        page-break-inside: avoid !important;
    }

    .print-break {
        page-break-after: always;
    }

    .print-start {
        /* elements always start on the top of a new page. */
        page-break-before: always;
    }

    .print-content {
        page-break-inside: avoid;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        page-break-after: avoid;
    }

    /* @page: first {
    margin: 0;
  }
  @page: blank {
    @top-center {
      content: "This page is intentionally left blank.";
    }
  } */

    @page {
        size: A4;
    }

    @page: right {
        @top-right {
            content: '';
        }
    }

    @page: right {
        @bottom-right {
            content: '';
        }
    }

    @page: left {
        @top-left {
            content: '';
        }
    }

    @page: left {
        @bottom-left {
            content: 'Page ' counter(page) ' of ' counter(pages);
        }
    }

    a {
        font-weight: bolder;
        text-decoration: none;
    }

    a[href^='http']:after {
        content: ' [ ' attr(href) ' ] ';
    }

    a[href^='#']:after {
        content: '';
    }
}
