::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: var(--scrollbar-box-shadow);
  box-shadow: var(--scrollbar-box-shadow);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-background-color);
  outline: var(--scrollbar-outline);
}
