.table {
  border-collapse: collapse;
  width: 100%;
  border: var(--table-border);
  padding: 5px;
  background-color: var(--table-background-color);
  color: var(--table-color);
  direction: var(--direction);
  float: var(--float);
  
}

.table tr {
  border-bottom: var(--table-border);
  transition: all .3s ease;
}
.table.hover tr:hover {
  background-color: var(--table-hover-background-color);
}
.table td {
  border: var(--table-border);
  padding: 5px;
  vertical-align:top;
}
.table td div, .table td p, .table td label, .table td h1, .table td h2, .table td h3, .table td span, .table td b{
  color: var(--table-color);
}
.table th {
  background-color: var(--navbar-background-color);
  color: var(--table-th-color);
  border: var(--table-border);
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.table.center{
  text-align: center !important;
}
.table.center *{
  text-align: center !important;
}